#ajudar {
    background: #182446;
    margin-top: 120px;
    padding-top: 112px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: inset 0 -85px #FFFFFF;
}

.ajudar-container {
    max-width: 1230px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
}

.ajudar-texto {
    max-width: 743px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ajudar-texto h2 {
    font: 400 2.5rem/1.125 "IBM Plex Sans", monospace;
    color: #FFFFFF;
}

.ajudar-texto>span {
    display: block;
    font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;
    color: #D1D3DA;
    margin-top: 20px;
}

.ajudar-numbers {
    display: flex;
    margin-top: 60px;
}

.ajudar-numbers li {
    padding-top: 10px;
    padding-right: 35px;
    padding-left: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.ajudar-numbers li:first-child {
    padding-left: 0;
}

.ajudar-numbers li:last-child {
    border: none;
    padding-right: 0;
}

.ajudar-numbers p {
    display: flex;
    align-items: center;
    font: 400 1.5rem/1.35 "IBM Plex Sans", monospace;
    color: #FFFFFF;
}

.ajudar-numbers p:before {
    content: "";
    display: inline-block;
    background: url("../icons/telefone-pequeno.svg") no-repeat center;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.ajudar-numbers span {
    display: block;
    font: 400 0.750rem/1.416 "IBM Plex Sans", monospace;
    color: #D1D3DA;
    padding-left: 31px;
}

.ajudar-atendimento {
    margin-top: 60px;
}

.ajudar-atendimento span {
    display: block;
    font: 400 0.875rem/1.285 "IBM Plex Sans", monospace;
    color: #D1D3DA;
}

.ajudar-atendimento p {
    font: 400 0.937rem/1.3 "IBM Plex Sans", monospace;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    max-width: max-content;
    margin-top: 4px;
}

.ajudar-perguntas {
    max-width: 270px;
    grid-row: span 2;
    align-self: center;
    padding-left: 80px;
}

.ajudar-perguntas span {
    display: flex;
    align-items: center;
    font: 400 1rem/2.125 "IBM Plex Sans", monospace;
    color: #C4AD6C;
    margin-bottom: 20px;
}

.ajudar-perguntas span:before {
    content: "";
    display: inline-block;
    background: url("../icons/pergunta.svg") no-repeat center;
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.ajudar-perguntas li {
    font: 300 1.5rem/2.08 "IBM Plex Sans", monospace;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;
}

.ajudar-perguntas li:hover {
    color: #C4AD6C;
}

.ajudar-perguntas li:last-child {
    border: none;
}

.ajudar-perguntas a {
    display: flex;
    align-items: center;
}

.ajudar-perguntas svg {
    margin-left: 7px;
}

.ajudar-online {
    margin-top: 60px;
}

.ajudar-online span {
    display: flex;
    align-items: center;
    font: 400 1rem/2.125 "IBM Plex Sans", monospace;
    color: #C4AD6C;
}

.ajudar-online span::before {
    content: "";
    display: inline-block;
    background: url("../icons/chat.svg") no-repeat center;
    width: 14px;
    height: 15px;
    margin-right: 10px;
}

.ajudar-online p {
    font: 300 1rem/2.125 "IBM Plex Sans", monospace;
    color: #D1D3DA;
}

.ajudar-online a {
    background: none;
    color: #C4AD6C;
    border: 2px solid #C4AD6C;
    margin-top: 20px;
}

.ajudar-comecar {
    max-width: 1230px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 65px rgba(19, 23, 80, 0.25);
    margin: 0 auto;
    padding: 50px 75px;
    margin-top: 120px;
}

.ajudar-comecar h2 {
    font: 400 2.187rem/1.285 "IBM Plex Sans", monospace;
    color: #1D2348;
}

.ajudar-comecar P {
    font: 400 1.125rem/1.35 "IBM Plex Sans", monospace;
    color: #4A4F6D;
    margin-top: 8px;
}

@media(max-width: 1200px) {
    .ajudar-container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 800px;
    }

    .ajudar-texto {
        max-width: 800px;
    }

    .ajudar-perguntas {
        max-width: 100%;
        padding: 0;
        margin-top: 60px;
    }

    .ajudar-perguntas li {
        white-space: wrap;
    }

    .ajudar-perguntas a {
        justify-content: space-between;
    }

    .ajudar-online {
        grid-row: 2;
    }

    .ajudar-comecar {
        padding: 50px 30px;
    }
}

@media(max-width: 800px) {
    #ajudar {
        box-shadow: inset 0 -135px #FFFFFF;
    }

    .ajudar-numbers {
        flex-direction: column;
        margin-top: 30px;
    }

    .ajudar-numbers li {
        padding: 0;
        margin-bottom: 15px;
        border: none;
    }

    .ajudar-numbers li:last-child {
        margin: 0;
    }

    .ajudar-comecar {
        flex-direction: column;
    }

    .ajudar-comecar P {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 26px;
    }
}

@media(max-width: 600px){
    #ajudar {
        padding-top: 50px;
        margin-top: 0px;
        box-shadow: inset 0 -170px #FFFFFF;
    }

    .ajudar-texto{
        padding-bottom: 34px;
    }

    .ajudar-texto h2 {
        font: 400 2rem/1.125 "IBM Plex Sans", monospace;
        text-align: center;
    }

    .ajudar-texto>span {
        font: 300 0.9rem/1.35 "IBM Plex Sans", monospace;
        margin-top: 18px;
        text-align: center;
    }

    .ajudar-numbers {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .ajudar-numbers p {
        font: 400 1.2rem/1.35 "IBM Plex Sans", monospace;
    }

    .ajudar-numbers span {
        font: 400 0.687rem/1.236 "IBM Plex Sans", monospace;
        padding-left: 31px;
    }

    .ajudar-atendimento{
        margin-top: 35px;
    }

    .ajudar-atendimento span {
        font: 400 0.875rem/1 "IBM Plex Sans", monospace;
        text-align: center;
    }

    .ajudar-atendimento p {
        font: 400 0.750rem/1.3 "IBM Plex Sans", monospace;
        margin: 0 auto;
        margin-top: 8px;
    }

    .ajudar-online {
        justify-items: center;
        text-align: center;
        margin-top: 32px;
        padding-bottom: 37px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .ajudar-online span {
        justify-content: center;
        font: 400 1rem/1.7 "IBM Plex Sans", monospace;
    }

    .ajudar-online p {
        font: 300 0.875rem/0.875 "IBM Plex Sans", monospace;
        margin-top: 6px;
    }

    .ajudar-online a{
        font: 600 0.875rem/1.3 "IBM Plex Sans", monospace;
        margin: 0 auto;
        margin-top: 27px;
    }

    .ajudar-perguntas{
        padding: 0 30px;
        margin-top: 28px;
    }

    .ajudar-perguntas span {
        justify-content: center;
        font: 400 0.875rem/1.93 "IBM Plex Sans", monospace;
        margin-bottom: 20px;
    }

    .ajudar-perguntas li {
        font: 300 1.187rem/2.10 "IBM Plex Sans", monospace;
    }

    .ajudar-comecar {
        padding: 36px 15px;
        margin-top: 40px;
    }

    .ajudar-comecar h2 {
        font: 400 1.56rem/1.28 "IBM Plex Sans", monospace;
        text-align: center;
    }
    
    .ajudar-comecar P {
        font: 400 0.812rem/1.30 "IBM Plex Sans", monospace;
        margin-top: 8px;
    }

    .ajudar-comecar a{
        font: 600 0.875rem/1.3 "IBM Plex Sans", monospace;
    }
}
