#beneficios{
    background: #F4F5F9;
    /* background: brown; */
    padding: 108px 0;
    overflow: hidden;
}

.beneficios-container{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 167px;
    max-width: 1270px;
    margin: 0 auto;
}

.beneficios-container::after{
    content: "";
    background: url("../img/gradiente.svg");
    position: absolute;
    width: 170px;
    height: 307px;
    right: 0px;
}

.beneficios-texto{
    align-self: center;
    padding-left: 20px;
}

.beneficios-texto h2{
    font: 400 2.5rem/1.13 "IBM Plex Sans" , monospace;
    color: #182346;
}

.beneficios-texto span{
    display: block;
}

.beneficios-texto .botao{
    margin-top: 44px;
}

.carrossel-container{
    display: flex;
    justify-content: start;
    overflow: hidden;
    position: relative;
}

.carrossel{
    display: flex;
    gap: 15px;
    justify-items: end;
    flex-shrink: 0;
    transition: 0.5s;
}

.carrossel li{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    justify-content: start;
    background: #FFFFFF;
    padding: 56px 61px 32px 61px;
}

.carrossel h3{
    font: 300 1.5rem/1.35 "IBM Plex Sans" , monospace;
    color: #182346;
    margin-top: 22px;
}

.carrossel p{
    font: 300 1.125rem/1.33 "IBM Plex Sans" , monospace;
    color: #464F6B;
    margin-top: 15px;
}

.carrossel-venda h3{
    max-width: 15ch;
}
.carrossel-venda p{
    max-width: 31ch;
}

.carrossel-taxas h3{
    max-width: 20ch;
}
.carrossel-taxas p{
    max-width: 29ch;
}

.carrossel-frete h3{
    margin-top: 20px;
}
.carrossel-frete p{
    max-width: 30ch;
}

.carrossel-emprestimo h3{
    max-width: 16ch;
}

.nxt-btn{
    border: none;
    background: #FFFFFF;
    padding: 23px;
    cursor: pointer;
    position: absolute;
    left: 930px;
    top: 122px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media(max-width: 1600px){
    .nxt-btn{
        left: 445px;
    }
}

@media(max-width: 1260px){
    .beneficios-container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 80px;
        max-width: 1270px;
        margin: 0 auto;
    }

    .carrossel-container{
        max-width: 100%;
        display: flex;
        justify-content: start;
        overflow: hidden;
        position: relative;
    }
}

@media(max-width: 1024px){
    #beneficios{
        padding: 56px 0;
    }

    .beneficios-container{
        grid-template-columns: 1fr;
        gap: 49px;
    }

    .beneficios-container::after{
        content: none;
    }

    .beneficios-texto{
        margin: 0 auto;
        justify-content: center;
        padding: 0 20px;
        text-align: center;
    }

    .beneficios-texto h2{
        max-width: 19ch;
    }

    .beneficios-texto span{
        display: initial;
    }

    .beneficios-texto .botao{
        margin: 0 auto;
        margin-top: 21px;
    }

    .carrossel-container{
        padding-left: 20px;
    }

    .nxt-btn{
        left: 465px;
    }
}

@media(max-width: 600px){
    #beneficios{
        padding: 42px 0;
    }

    .beneficios-container{
        padding-left: 20px;
        padding-right: 5px;
    }
    
    .beneficios-texto h2{
        font: 400 2rem/1.25 "IBM Plex Sans" , monospace;
        max-width: 19ch;
    }

    .carrossel-container{
        overflow: auto;
        scroll-snap-type: x;
        scroll-behavior: smooth;
    }

    .carrossel-container::-webkit-scrollbar{
        width: 18px;
    }
    
    .carrossel-container::-webkit-scrollbar-thumb{
        background: #C4AD6C;
        border-top: 0px solid #F4F5F9;
    }
    
    .carrossel-container::-webkit-scrollbar-track{
        background: rgba(196,173,108 , 0.3);
        border-top: 0px solid #F4F5F9;
    }

    .carrossel h3{
        font: 300 1.35rem/1.33 "IBM Plex Sans" , monospace;
        margin-top: 15px;
    }
    
    .carrossel p{
        font: 300 1rem/1.35 "IBM Plex Sans" , monospace; 
        margin-top: 5px;
    }

    .carrossel li{
        padding: 40px 3px 36px 32px;
        /* padding: 0; */
        /* padding: 20px 0px 20px 10px; */
        scroll-snap-align: start;
    }

    .carrossel-venda p{
        max-width: 25ch;
    }

    .carrossel-taxas p{
        max-width: 30ch;
    }

    .beneficios-texto .botao {
        font: 600 0.96rem/1.3 "IBM Plex Sans", monospace;
        padding: 17px 34px;
    }

    .nxt-btn{
        display: none;
    }
}

@media(max-width: 380px){
    .beneficios-texto{
        padding: 0 0px;
    }

    .beneficios-texto h2{
        max-width: 100%;
    }
}

@media(max-width: 350px){
    .beneficios-texto{
        padding: 0 20px;
    }
}