#digital {
    margin-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(244, 245, 249, 0) 0%, rgba(244, 245, 249, 0) 0.01%, var(--cor-2) 100%);
    overflow-x: hidden;
}

.digital-container {
    max-width: 1200px;
    display: flex;
    gap: 158px;
    margin: 0 auto;
}

.digital-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    padding-bottom: 75px;
}

.digital-texto span {
    display: inline-block;
    text-transform: uppercase;
}

.digital-texto h2 {
    margin-top: 39px;
}

.digital-texto p {
    max-width: 30ch;
    margin-top: 27px;
}

.digital-buttons {
    display: flex;
    margin-top: 56px;
    gap: 21px;
    align-items: end;
}

.digital-buttons a:first-child {
    box-shadow: 0px 4px 22px var(--cor-p3);
}

@media(max-width: 1100px) {
    #digital {
        padding-bottom: 20px;
    }

    .digital-container {
        gap: 100px;
    }

    .digital-texto {
        padding-bottom: 0;
    }
}

@media(max-width: 900px) {
    #digital {
        margin-top: 58px;
    }

    .digital-container {
        max-width: 1200px;
        display: grid;
        justify-items: center;
        gap: 77px;
    }

    .digital-texto {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .digital-buttons {
        display: grid;
    }
}

@media(max-width: 600px) {
    #digital {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .digital-texto {
        padding-left: 16px;
        padding-right: 16px;
    }

    .digital-buttons {
        margin-top: 36px;
    }

    .digital-img {
        margin-left: auto;
        padding-left: 50px;
    }
}