.digital-icons-container {
    position: relative;
    max-width: 1200px;
    height: 320px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: var(--cor-0);
    box-shadow: 0px 4px 65px var(--cor-p3);
    z-index: 1;
}

.digital-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
    padding-left: 106px;
}

.digital-icons h3 {
    color: var(--cor-16);
    margin-top: 22px;
}

.digital-icons p {
    max-width: 18ch;
    color: var(--cor-12);
    margin-top: 13px;
}

.digital-sombra {
    position: absolute;
    background: var(--cor-0);
    box-shadow: 50px 4px 65px var(--cor-p3);
    height: 100%;
    width: 1000px;
    right: -1000px;
}

.borda-digital {
    position: absolute;
    width: 26.3%;
    height: 100%;
    left: 0;
    border-bottom: 2px solid var(--cor-p1);
    z-index: -1;
}

@media(max-width: 1200px) {
    .digital-icons {
        padding-left: 53px;
        gap: 100px;
    }
}

@media(max-width: 900px) {
    .digital-icons-container {
        max-width: 1200px;
        padding-left: 16px;
        height: inherit;
    }

    .digital-icons {
        gap: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 36px 30px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .borda-digital {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .digital-icons-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .digital-icons img {
        max-width: 25%;
    }

    .digital-icons h3 {
        margin-top: 8px;
    }

    .digital-icons p {
        margin-top: 3px;
    }
}