#distancia {
    margin-top: 120px;
}

.distancia-container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    gap: 63px;
    margin: 0 auto;
}

.distancia-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.distancia-texto h2 {
    font: 400 2.5rem/1.125 "IBM Plex Sans", monospace;
    color: #182346;
}

.distancia-texto h2 span {
    display: block;
}

.distancia-texto p {
    font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;
    color: #464F6B;
    margin-top: 30px;
}

.distancia-texto a {
    margin-top: 52px;
    padding: 19px 33px;
}

.distancia-info {
    font: 300 1.125rem/1.61 "IBM Plex Sans", monospace;
    color: #182346;
    margin-top: 57px;
}

.distancia-info li {
    display: flex;
    align-items: center;
}

.distancia-info li::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../icons/check.svg") no-repeat center;
    margin-right: 9px;
}

@media(max-width: 1100px) {
    .distancia-container {
        gap: 30px;
    }

    .distancia-texto h2 span {
        display: initial;
    }

    .distancia-texto h2 {
        font: 400 2rem/1.265 "IBM Plex Sans", monospace;
        max-width: 20ch;
    }
}

@media(max-width: 900px) {
    .distancia-texto h2,
    .distancia-texto a,
    .distancia-img img,
    .distancia-info {
        margin: 0 auto;
    }

    .distancia-texto a,
    .distancia-info {
        margin-top: 40px;
    }

    #distancia {
        margin-top: 76px;
    }

    .distancia-container {
        max-width: 100%;
        display: block;
        justify-items: center;
        text-align: center;
    }

    .distancia-img {
        margin: 0 auto;
        max-width: 500px;
    }

    .distancia-texto h2 {
        margin-top: 37px;
    }

    .distancia-texto p{
        margin-top: 17px;
        max-width: 30ch;
        align-self: center;
    }

    .distancia-texto a {
        font: 500 1.01rem/1.35 "IBM Plex Sans", monospace;
        padding: 17px 24px;
    }

    .distancia-info {
        margin-top: 25px;
    }

    .distancia-texto p,
    .distancia-info {
        font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;
    }
}

@media(max-width: 340px){
    .distancia-info {
        font: 300 0.875rem/1.61 "IBM Plex Sans", monospace;
    }
    .distancia-texto a {
        font: 500 0.820rem/1.35 "IBM Plex Sans", monospace;
    }
}