#distancia {
    margin-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
}

.distancia-container {
    max-width: 1200px;
    display: flex;
    gap: 63px;
    margin: 0 auto;
}

.distancia-img{
    filter: drop-shadow(0px 4px 10px rgba(24, 35, 70, 0.15));
}

.distancia-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.distancia-texto h2 {
    font: 400 2.5rem/1.125 "IBM Plex Sans", monospace;; /* font-13 */
    color: #182346;
}

.distancia-texto h2 span {
    display: block;
}

.distancia-texto p {
    font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;; /* font-2 */
    color: #464F6B;
    margin-top: 30px;
}

.distancia-texto a {
    margin-top: 52px;
    /* padding: 19px 33px; */
}

.distancia-info {
    font: 300 1.125rem/1.61 "IBM Plex Sans", monospace;; /* font-19 */
    color: #182346;
    margin-top: 57px;
}

.distancia-info li {
    display: flex;
    align-items: center;
}

.distancia-info li::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../icons/check.svg") no-repeat center;
    margin-right: 9px;
}

@media(max-width: 1100px) {
    .distancia-container {
        max-width: 100%;
        display: grid;
        gap: 30px;
        justify-items: center;
        text-align: center;
    }

    .distancia-info,
    .distancia-texto a {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media(max-width: 600px) {
    .distancia-texto h2,
    .distancia-texto a,
    .distancia-img img,
    .distancia-info {
        margin: 0 auto;
    }

    .distancia-texto a,
    .distancia-info {
        margin-top: 40px;
    }

    #distancia {
        margin-top: 76px;
    }

    .distancia-img {
        margin: 0 auto;
        max-width: 500px;
    }

    .distancia-texto h2 {
        font: 400 2rem/1.25 "IBM Plex Sans", monospace;; /* font-13 */
        margin-top: 0px;
    }

    .distancia-texto h2 span {
        display: initial;
    }

    .distancia-texto p,
    .distancia-info {
        font: 300 1rem/1.35 "IBM Plex Sans", monospace;; /* font-2 / font-19 */
        margin-top: 17px;
        max-width: 30ch;
        align-self: center;
    }

    .distancia-texto a {
        /* font: 500 1rem/1.35 "IBM Plex Sans", monospace;; */
        /* padding: 17px 24px; */
    }

    .distancia-info {
        margin-top: 25px;
    }
}

@media(max-width: 340px) {
    .distancia-info {
        font: 300 0.875rem/1.61 "IBM Plex Sans", monospace;; /* font-19 */
    }

    .distancia-texto a {
        /* font: 500 0.770rem/1.35 "IBM Plex Sans", monospace;; */
    }
}