#emergencial {
    background: var(--cor-2);    margin-top: 116px;
}

.emergencial-container {
    display: flex;
    gap: 64px;
}

.emergencial-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 16px;
}

.emergencial-texto h2 {
    max-width: 20ch;
}

.emergencial-texto p {
    max-width: 45ch;
    margin-top: 22px;
}

.emergencial-img {
    position: relative;
}

.emergencial-gradiente {
    position: absolute;
    display: inline;
    width: 806px;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background: linear-gradient(0deg, rgba(29, 35, 72, 0.8) 0%, rgba(244, 245, 249, 0) 100%);
    bottom: 0;
}

.emergencial-info {
    margin-top: 51px;
    display: flex;
    gap: 60px;
    white-space: nowrap;
}

.emergencial-info p {
    display: flex;
    align-items: end;
    margin-top: 10px;
}

.emergencial-info p span {
    display: inline-block;
    margin-left: 5px;
}

.emergencial-info .emprestimo {
    margin: 0;
    margin-right: 5px;
    align-self: start;
}

.emergencial-buttons {
    display: flex;
    gap: 32px;
    margin-top: 60px;
    white-space: nowrap;
}

.emergencial-detalhes>span a {
    display: inline-block;
    margin-top: 25px;
    border-bottom: 1px solid var(--cor-13);
}

@media(max-width: 1400px) {
    .emergencial-container {
        gap: 44px;
    }

    .emergencial-info {
        margin-top: 31px;
        gap: 26px;
    }
}

@media(max-width: 1260px) {
    #emergencial {
        background: linear-gradient(0deg, var(--cor-2) 39.58%, rgba(244, 245, 249, 0) 100%);
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
    }

    .emergencial-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .emergencial-detalhes {
        text-align: center;
        align-items: center;
        padding: 0;
    }

    .emergencial-texto h2 {
        max-width: 17ch;
        margin: 0 auto;
    }

    .emergencial-texto p {
        max-width: 65ch;
        margin-top: 14px;
    }

    .emergencial-info {
        margin-top: 50px;
        gap: 60px;
        white-space: inherit;
    }

    .emergencial-info p {
        margin-top: 10px;
    }

    .emergencial-info p span {
        display: inline-block;
    }

    .emergencial-buttons {
        justify-content: center;
    }

    .emergencial-detalhes>span a {
        margin-top: 20px;
    }
}


@media(max-width: 800px) {
    #emergencial {
        margin-top: 72px;
        margin-bottom: 0;
    }

    .emergencial-container {
        gap: 18px;
    }

    .emergencial-detalhes {
        padding-left: 0px;
        padding-right: 0px;
    }

    .emergencial-texto h2 {
        max-width: 19ch;
    }

    .emergencial-texto p {
        max-width: 65ch;
        margin-top: 17px;
    }

    .emergencial-info {
        display: grid;
        grid-template-columns: min-content min-content;
        gap: 40px 60px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .emergencial-info p span {
        margin-left: 5px;
    }

    .emergencial-info .emprestimo {
        margin-right: 5px;
    }

    .emergencial-buttons {
        display: grid;
        gap: 26px;
        margin-top: 46px;
    }
} 

@media(max-width: 600px) {
    #emergencial {
        padding-left: 16px;
        padding-right: 16px;
    }

    .emergencial-info h3 {
        text-align: left;
    }

    .emergencial-texto h2 {
        max-width: 100%;
    }

    .emergencial-texto p {
        max-width: 100%;
    }

    .emergencial-img {
        max-width: 100%;
    }

    .emergencial-info {
        gap: 40px;
    }
}

@media(max-width: 350px){
    .emergencial-info {
        gap: 40px 0px;
    }
}