#fatura {
    max-width: 1230px;
    height: 540px;
    background: url("../img/fatura.svg") no-repeat center;
    margin: 0 auto;
    margin-top: 141px;
    position: relative;
}

.fatura-gradiente1,
.fatura-gradiente2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(29, 35, 72, 0.2);
}

.fatura-gradiente2 {
    background: linear-gradient(90deg, rgba(29, 35, 72, 0.4) 0%, rgba(29, 35, 72, 0.395833) 0.01%, rgba(29, 35, 72, 0.371131) 42.86%, rgba(29, 35, 72, 0) 57.86%);
    transform: rotate(-180deg);
}

.fatura-container {
    position: absolute;
    right: 110px;
    top: 120px;
    z-index: 1;
}

.fatura-container h2 {
    font: 400 2.5rem/1.125 "IBM Plex Sans", monospace;
    color: #FFFFFF;
}

.fatura-container h2 span {
    display: block;
}

.fatura-container>p {
    font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;
    color: #FFFFFF;
    margin-top: 30px;
}

.fatura-container a {
    margin-top: 30px;
}

.fatura-protecao {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.fatura-protecao p {
    font: 400 0.875rem/1.285 "IBM Plex Sans", monospace;
    max-width: 20ch;
}

.fatura-linha {
    width: 1px;
    height: 45px;
    background: #FFFFFF;
    margin: 0 14px;
}

@media(max-width: 1260px){
    .fatura-container {
        right: 40px;
    }
}

@media(max-width: 900px) {
    #fatura {
        background-position: calc(-200px);
    }

    .fatura-container {
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: 0;
        right: 0;
        top: inherit;
        bottom: 20px;
    }

    .fatura-gradiente2 {
        background: linear-gradient(180deg, rgba(29, 35, 72, 0.4) 0%, rgba(29, 35, 72, 0.395833) 0.01%, rgba(29, 35, 72, 0.371131) 42.86%, rgba(29, 35, 72, 0) 57.86%);
    }

    .fatura-container a {
        margin: 0 auto;
        margin-top: 30px;
    }

    .fatura-protecao {
        justify-content: center;
    }

    .fatura-protecao p {
        max-width: 100%;
    }

    .fatura-linha {
        height: 15px;
        margin: 0 5px;
    }
}

@media(max-width: 600px) {
    #fatura{
        margin-top: 70px;
    }

    .fatura-container h2 {
        font: 400 2rem/1.125 "IBM Plex Sans", monospace;
    }

    .fatura-container>p {
        font: 300 0.9rem/1.35 "IBM Plex Sans", monospace;
        margin-top: 6px;
    }

    .fatura-container a {
        font: 500 0.850rem/1.35 "IBM Plex Sans", monospace;
        padding: 15px 20px;
        margin: 0 auto;
        margin-top: 12px;
    }

    .fatura-protecao img {
        max-width: 15px;
    }

    .fatura-protecao {
        margin-top: 16px;
    }

    .fatura-protecao p {
        font: 400 0.7rem/1.285 "IBM Plex Sans", monospace;
    }
}

@media(max-width: 400px){
    #fatura {
        max-width: 400px;
        height: 355px;
        max-height: 540px;
        background: url("../img/teste.svg") no-repeat center;
        position: relative;
    }

    .fatura-container {
        max-width: 100%;
    }
}