#footer{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 113px;
    padding-bottom: 47px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(24,35,70, 0.1);
}

.footer-container .footer-info{
    margin-left: auto;
}
.footer-container .footer-info:first-child{
    margin: 0;
}

.footer-info h3{
    font: 300 1.5rem/1.35 "IBM Plex Sans", monospace;
    color: #182346;
    margin-bottom: 27px;
}

.footer-info a{
    font: 300 1rem/2.125 "IBM Plex Sans", monospace;
    color: #182346;
    white-space: nowrap;
}

.footer-app{
    grid-column: 1/-1;
    margin-top: 50px;
}

.footer-app p{
    font: 300 1rem/2.125 "IBM Plex Sans", monospace;
    color: #182346;
}

.footer-buttons{
    display: flex;
    margin-top: 19px;
    gap: 21px;
}

.footer-final{
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 400 0.750rem/1.42 "IBM Plex Sans", monospace;
    color: rgba(24,35,70, 0.6);
    margin-top: 30px;
}

.footer-final-info{
    display: flex;
    gap: 10px;
}

.footer-final-info li{
    display: flex;
    align-items: center;
}

.footer-final-info li::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50px;
    background: rgba(24,35,70, 0.6);
    margin-right: 10px;
}

.footer-final-info li:first-child::before{
    content: none;
}

.footer-final-info a{
    border-bottom: 1px solid currentColor;
}

.footer-final-logo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width: 1100px){
    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 0;
    }

    .footer-container .footer-info{
        margin: 0 auto;
    }
    .footer-container .footer-info:first-child{
        margin: 0 auto;
    }

    .footer-app{
        margin-top: 0px;
        text-align: center;
        margin: 0 auto;
    }
}

@media(max-width: 800px){
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 0;
    }

    .footer-info h3{
        text-align: center;
    }

    .footer-info a{
        margin: 0 auto;
    }

    .footer-final{
        display: block;
        text-align: center;
        font: 400 0.750rem/1.42 "IBM Plex Sans", monospace;
        margin-top: 30px;
    }

    .footer-final-info{
        display: flex;
        justify-content: center;
        gap: 0 10px;
        flex-wrap: wrap;
    }

    .footer-final-logo{
        display: flex;
        justify-content: center;
        gap: 26px;
        margin-top: 37px;
    }
}

@media(max-width: 600px){
    #footer{
        margin-top: 50px;
    }

    .footer-container{
        gap: 25px 0;
        padding-bottom: 34px;
    }

    .footer-info h3{
        font: 300 1.2rem/1.35 "IBM Plex Sans", monospace;
        margin-bottom: 11px;
    }

    .footer-info a,
    .footer-app p{
        font: 300 0.875rem/1.94 "IBM Plex Sans", monospace;
    }

    .footer-app p{
        margin-top: 15px;
    }
}