#footer{
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 113px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(24,35,70, 0.1);
}

.footer-container .footer-info{
    margin-left: auto;
}
.footer-container .footer-info:first-child{
    margin: 0;
}

.footer-info h3{
    font: 300 1.5rem/1.35 "IBM Plex Sans", monospace;
    color: #182346;
    margin-bottom: 27px;
}

.footer-info a{
    font: 300 1rem/2.125 "IBM Plex Sans", monospace;
    color: #182346;
    white-space: nowrap;
}

.footer-app{
    grid-column: 1/-1;
    margin-top: 50px;
}

.footer-app p{
    font: 300 1rem/2.125 "IBM Plex Sans", monospace;
    color: #182346;
}

.footer-buttons{
    display: flex;
    margin-top: 19px;
    gap: 21px;
}

@media(max-width: 1100px){
    .footer-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 0;
    }

    .footer-container .footer-info{
        margin: 0 auto;
    }
    .footer-container .footer-info:first-child{
        margin: 0 auto;
    }

    .footer-app{
        margin-top: 0px;
        text-align: center;
        margin: 0 auto;
    }
}

@media(max-width: 800px){
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px 0;
    }

    .footer-info h3{
        text-align: center;
    }

    .footer-info a{
        margin: 0 auto;
    }
}

@media(max-width: 600px){
    #footer{
        margin-top: 50px;
    }

    .footer-info h3{
        font: 300 1.2rem/1.35 "IBM Plex Sans", monospace;
        margin-bottom: 11px;
    }

    .footer-info a,
    .footer-app p{
        font: 300 0.875rem/1.94 "IBM Plex Sans", monospace;
    }
}