body{
    font-family: "IBM Plex Sans" , monospace;
    margin: 0;
}

body.ativo{
    overflow-y: hidden;
}

ul, li, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
    color: currentColor;
}

.botao {
    display: block;
    max-width: max-content;
    font: 500 1.06rem/1.3 "IBM Plex Sans", monospace;
    color: #182346;
    background: #C4AD6C;
    padding: 19px 35px;
    cursor: pointer;
    text-align: center;
    z-index: 2;
}

.setaBtn {
    display: flex;
    align-items: center;
}

.setaBtn::after {
    content: "";
    display: inline-block;
    background: url("../icons/seta-azul.svg") no-repeat center;
    width: 10px;
    height: 10px;
    margin-left: 6px;
    transition: 0.2s;
}

.setaBtn:hover::after {
    transform: translate(5px);
}

.playBtn {
    display: flex;
    align-items: center;
}

.playBtn::after {
    content: "";
    display: inline-block;
    background: url("../icons/play.svg") no-repeat center;
    width: 16px;
    height: 16px;
    margin-left: 6px;
}
