body{
    font-family: "IBM Plex Sans" , monospace;
    margin: 0;
}

body.ativo{
    overflow-y: hidden;
}

ul, li, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

a{
    display: block;
    text-decoration: none;
    color: currentColor;
}

.botao {
    display: block;
    max-width: max-content;
    font: 500 1.06rem/1.3 "IBM Plex Sans", monospace;
    color: #182346;
    background: #C4AD6C;
    padding: 19px 36px;
    cursor: pointer;
    z-index: 2;
}