[data-menu="button"],
.seta,
.container-menu,
.container-menu li,
.menuMobileFooter {
    display: none;
}

#header {
    background: var(--cor-17);
    padding-left: 16px;
    padding-right: 16px;
}

.header-nav {
    max-width: 1230px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 23px 0;
    border-bottom: 1px solid var(--cor-14);
    position: relative;
}

.menu {
    box-sizing: border-box;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.linkInterno {
    position: relative;
    color: var(--cor-3);
    white-space: nowrap;
}

.linkInterno::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--cor-p1);
    width: 0;
    height: 1.5px;
    top: 62px;
    transition: 0.3s;
}

.linkInterno:hover::after {
    width: 100%;
}

.telefone {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-p1);
    position: relative;
}

.telefone-img {
    padding: 16px;
}

.telefone-linha {
    height: 40px;
    width: 1px;
    background: var(--cor-p1);
}

.telefone-numero {
    color: var(--cor-0);
    padding: 7px 21px;
    position: relative;
}

.telefone-numero span {
    display: inline-block;
    margin-bottom: 3px;
}

.telefone-numero p {
    color: var(--cor-0);
    white-space: nowrap;
}

@media(max-width: 1100px) {
    #header {
        padding-left: 0px;
        padding-right: 0px;
    }

    .header-nav {
        max-width: 100%;
        padding: 23px 0;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
        display: flex;
        justify-content: none;
    }

    .header-nav .telefone {
        margin-left: auto;
    }

    .header-nav .menuMobileButton {
        margin-left: 0px;
        padding-right: 0px;
    }

    .menu {
        position: absolute;
        display: block;
        max-width: 100%;
        width: 100vw;
        top: 79px;
        right: 0px;
        height: 0;
        transition: 0.3s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        background: var(--cor-17);
        z-index: 10000;
    }

    .telefone-img {
        padding: 6px 8px;
    }

    .telefone-img img {
        width: 18px;
    }

    .telefone-linha {
        height: 21px;
        width: 1px;
        background: var(--cor-p1);
    }

    .telefone-numero {
        color: var(--cor-0);
        padding: 7px 13px;
        position: relative;
    }

    .telefone-numero span {
        display: none;
    }

    .telefone-numero p {
        white-space: nowrap;
    }

    .js [data-menu="list"].ativo {
        height: calc(100vh - 79px);
        visibility: visible;
        overflow-y: auto;
    }

    .seta {
        display: block;
    }

    .linkInterno {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 19px;
        padding-bottom: 11px;
        border-bottom: 1px solid var(--cor-14);
    }

    .linkInterno:hover {
        color: var(--cor-p1);
    }

    .linkInterno:hover .seta {
        stroke: var(--cor-p1);
    }

    .linkInterno::after {
        content: none;
    }

    .linkInterno:hover::after {
        width: 0%;
    }

    .telefone-linha {
        height: 21px;
        width: 1px;
        background: var(--cor-p1);
    }

    [data-menu="button"] {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 200;
        position: relative;
    }

    [data-menu="button"] div {
        width: 30px;
        height: 2px;
        margin: 6px 0;
        border-radius: 4px;
        background: var(--cor-p1);
        transition: 0.3s;
    }

    .js [data-menu="button"].ativo .linha1 {
        transform: rotate(-45deg) translate(-6px, 6px);
        background: var(--cor-0);
    }

    .js [data-menu="button"].ativo .linha2 {
        opacity: 0;
    }

    .js [data-menu="button"].ativo .linha3 {
        transform: rotate(45deg) translate(-5px, -6px);
        background: var(--cor-0);
    }

    .container-menu {
        display: block;
        margin-top: 41px;
    }

    .container-menu li:not(:last-child),
    .container-menu li a{
        padding: 19px 0;
        color: var(--cor-p1);
        text-align: center;
        border: 2px solid var(--cor-p1);
        margin-bottom: 19px;
    }

    .container-menu li.telefone a {
        width: 100%;
    }

    .container-menu li.seta,
    .container-menu li.telefone,
    .container-menu li.telefone a{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .container-menu li:last-child{
        border: none;
        cursor: inherit;
    }

    .container-menu li.seta::after {
        content: "";
        display: inline-block;
        background: url("../img/seta-pequena.svg") no-repeat center;
        width: 10px;
        height: 10px;
        margin-left: 6px;
    }

    .container-menu li.telefone a::before {
        content: "";
        display: inline-block;
        background: url("../img/telefone-pequeno.svg") no-repeat center;
        width: 20px;
        height: 18px;
        margin-right: 9px;
    }

    .container-menu li.seta:hover,
    .container-menu li.telefone a:hover {
        background: var(--cor-p1);
        color: var(--cor-17);
    }

    .container-menu li.seta:hover::after {
        background: url("../icons/seta-azul.svg") no-repeat center;
    }

    .container-menu li.telefone a:hover::before {
        background: url("../icons/telefone-azul.svg") no-repeat center;
    }

    .menuMobileFooter {
        display: flex;
        justify-content: center;
        padding: 19px 0;
        color: var(--cor-0);
        gap: 25px;
    }
}

@media(max-width: 400px) {
    .header-nav .logo {
        width: 100px;
    }

    .header-nav .menuMobileButton {
        padding-left: 10px;
        margin: 0;
    }
}

@media(max-width: 350px) {
    .telefone-img {
        display: none;
    }

    .telefone-linha {
        display: none;
    }

    .telefone-numero {
        padding: 4px 7px;
    }
}
