.ofertas-icons-container {
    max-width: 811px;
    margin: 0 auto;
    margin-top: 60px;
}

.ofertas-icons {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ofertas-icons li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: end;
}

.ofertas-icons h3 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.ofertas-icons p {
    color: var(--cor-13);
}

.ofertas-dots {
    max-width: 72px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 60px;
}

.dots {
    width: 4px;
    height: 4px;
    background: var(--cor-17);
    border-radius: 50%;
}

@media(max-width: 800px) {
    .ofertas-icons {
        display: block;
    }

    .ofertas-icons li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 46px;
    }

    .ofertas-icons h3 {
        margin-bottom: 0;
    }

    .ofertas-icons p {
        color: var(--cor-13);
    }

    .ofertas-dots {
        max-width: 72px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 0px;
    }
}