#ofertas {
    padding: 110px 20px;
    color: #182346;
}

.ofertas-maquinas {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 80px;
    margin-top: 56px;
}

.ofertas {
    display: flex;
    justify-content: center;
    background: #F4F5F9;
    max-width: max-content;
    box-shadow: inset 0 6px #FFFFFF, inset 167px 0 #FFFFFF;
    position: relative;
}

.ofertas-smart,
.ofertas-mini {
    box-shadow: inset 0 6px #FFFFFF, inset 154px 0 #FFFFFF;
}

.ofertas-img {
    display: flex;
    align-items: center;
}

.pro-img {
    align-items: start;
}

.smart-img {
    margin-top: 30px;
}

.mini-img {
    margin-top: 78px;
}

.ofertas-info-container {
    padding-top: 18px;
    padding-bottom: 40px;
    position: relative;
}

.pro-info-container {
    padding-left: 17px;
    padding-right: 63px;
}

.smart-info-container {
    padding-left: 23px;
    padding-right: 74px;
}

.slim-info-container {
    padding-left: 5px;
    padding-right: 44px;
}

.mini-info-container {
    padding-left: 15px;
    padding-right: 58px;
}

.ofertas-info-container p:first-child {
    position: absolute;
    display: flex;
    align-items: center;
    font: 600 0.750rem/1.5 "IBM Plex Sans", monospace;
    color: #FFFFFF;
    box-shadow: 0px 5.4px 13.5px rgba(196, 173, 108, 0.5);
    padding: 9px 32px;
    background: #C4AD6C;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 35px;
    top: -27px;
}

.ofertas-info-container ul {
    font: 400 0.875rem/2.285 "IBM Plex Sans", monospace;
    margin-top: 24px;
}

.pro-info-container ul {
    padding-left: 9px;
}

.slim-info-container ul {
    padding-left: 30px;
}

.mini-info-container ul {
    margin-top: 42px;
    padding-left: 40px;
}

.ofertas-info-container ul li {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.ofertas-info-container ul li:before {
    content: "";
    display: inline-block;
    margin-right: 15px;
}

.ofertas-info-container .botao {
    margin: 0 auto;
    margin-top: 16px;
    font: 600 0.937rem/1.35 "IBM Plex Sans", monospace;
    padding: 12px 29px;
    white-space: nowrap;
}

.smart-info-container .botao {
    margin-top: 48px;
}

.mini-info-container .botao {
    margin-left: 47px;
    margin-top: 62px;
}

.ofertas-info {
    margin: 0 auto;
    text-align: center;
}

.ofertas-info h3 {
    font: 400 1.5rem/1.35 "IBM Plex Sans", monospace;
    margin-top: 32px;
}

.ofertas-info h3 span {
    font-weight: 500;
}

.ofertas-info p {
    font: 400 0.750rem/1.35 "IBM Plex Sans", monospace;
    max-width: 36ch;
    margin: 0 auto;
    margin-top: 17px;
}

.ofertas-info p:first-child::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 15px;
    background-image: url("../icons/veloz-branco.svg");
    margin-right: 9px;
}

.smart-info p {
    max-width: 30ch;
}

.slim-info p {
    margin-left: 8px;
    max-width: 40ch;
}

.mini-info p {
    max-width: 40ch;
}

.mini-info p:first-child {
    font: 600 0.875rem/1.285 "IBM Plex Sans", monospace;
    text-transform: capitalize;
    padding: 8px 21px;
    color: #182346;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(29, 35, 72, 0.2);
}

.mini-info p:first-child::before {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.ofertas-texto {
    text-align: center;
    color: #182346;
}

.ofertas-texto h2 {
    font: 400 2.5rem/1.125 "IBM Plex Sans", monospace;
    margin-top: 38px;
}

.ofertas-texto p:not(:last-child) {
    display: block;
    font: 300 1.125rem/1.35 "IBM Plex Sans", monospace;
    margin-top: 23px;
}

.ofertas-texto span {
    text-transform: uppercase;
    font: 600 0.812rem/1.23 "IBM Plex Sans", monospace;
}

.ofertas-span {
    font: 500 0.812rem/1.25 "IBM Plex Sans", monospace;
}

.nfc::before {
    width: 13px;
    height: 15px;
    background: url("../icons/nfc.svg") no-repeat center;
}

.bateria::before {
    width: 14px;
    height: 10px;
    background: url("../icons/bateria.svg") no-repeat center;
}

.app::before {
    width: 11px;
    height: 16px;
    background: url("../icons/app.svg") no-repeat center;
}

.bluetooth::before {
    width: 12px;
    height: 12px;
    background: url("../icons/bluetooth.svg") no-repeat center;
}

.bolso::before {
    width: 13px;
    height: 13px;
    background: url("../icons/bolso.svg") no-repeat center;
}

.impressao::before {
    width: 12px;
    height: 15px;
    background: url("../icons/impressao.svg") no-repeat center;
}

.sms::before {
    width: 12px;
    height: 12px;
    background: url("../icons/sms.svg") no-repeat center;
}

.android::before {
    width: 13px;
    height: 15px;
    background: url("../icons/android.svg") no-repeat center;
}

.veloz::before {
    width: 14px;
    height: 15px;
    background: url("../icons/veloz.svg") no-repeat center;
}

.touchscreen::before {
    width: 13px;
    height: 12px;
    background: url("../icons/touchscreen.svg") no-repeat center;
}

.wifi:before {
    width: 16px;
    height: 12px;
    background: url("../icons/wifi.svg") no-repeat center;
}

.qr::before {
    width: 12px;
    height: 13px;
    background: url("../icons/qr.svg") no-repeat center;
}

.celular::before {
    width: 12px;
    height: 12px;
    background: url("../icons/celular.svg") no-repeat center;
}

.borda {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #C4AD6C;
    right: 0;
    bottom: 0;
    box-shadow: inset 170px 0 #FFFFFF;
}

.borda-pro {
    box-shadow: inset 167px 0 #FFFFFF;
}

.borda-smart {
    box-shadow: inset 154px 0 #FFFFFF, inset -98px 0 #FFFFFF;
}

.borda-slim {
    box-shadow: inset 167px 0 #FFFFFF, inset -194px 0 #FFFFFF;
}

.borda-mini {
    box-shadow: inset 154px 0 #FFFFFF, inset -293px 0 #FFFFFF;
}

@media(max-width: 1140px) {
    #ofertas {
        padding: 49px 20px;
    }

    .ofertas-maquinas {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 58px 0px;
        margin-top: 56px;
    }

    .ofertas {
        box-shadow: inset 0 6px #FFFFFF, inset 150px 0 #FFFFFF;
        width: 540px;
        max-width: 540px;
    }

    .pro-info-container,
    .smart-info-container,
    .slim-info-container,
    .mini-info-container,
    .ofertas-info-container ul,
    .pro-info-container ul,
    .slim-info-container ul,
    .mini-info-container ul {
        padding: 0;
    }

    .ofertas-info-container ul,
    .pro-info-container ul,
    .slim-info-container ul,
    .mini-info-container ul {
        max-width: min-content;
        margin: 0 auto;
        margin-top: 24px;
    }

    .ofertas-info-container {
        padding-top: 18px;
        padding-right: 20px;
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .borda-pro {
        box-shadow: inset 150px 0 #FFFFFF;
    }

    .borda-smart {
        box-shadow: inset 150px 0 #FFFFFF, inset -98px 0 #FFFFFF;
    }

    .borda-slim {
        box-shadow: inset 150px 0 #FFFFFF, inset -194px 0 #FFFFFF;
    }

    .borda-mini {
        box-shadow: inset 150px 0 #FFFFFF, inset -293px 0 #FFFFFF;
    }
}

@media(max-width: 600px) {
    .ofertas {
        padding: 0;
        display: inline;
        width: 100%;
        max-width: 335px;
        box-shadow: none;
        margin: 0 auto;
        padding-top: 58px;
        padding-bottom: 35px;
    }

    .ofertas-img {
        justify-content: center;
        margin: 0;
    }

    .ofertas-img img{
        max-width: 50%;
    }

    .ofertas-info-container {
        position: initial;
    }

    .ofertas-info-container p:first-child {
        font: 600 0.787rem/1.27 "IBM Plex Sans", monospace;
        padding: 8px 30px;
        top: -33px;
        right: 0;
    }

    .mini-info p:first-child {
        font: 600 0.787rem/1.27 "IBM Plex Sans", monospace;
        padding: 7px 18px;
    }

    .ofertas-info-container {
        padding: 0;
    }

    .ofertas-info-container ul {
        font: 400 0.787rem/2.3 "IBM Plex Sans", monospace;
        margin-top: 24px;
    }

    .ofertas-info-container ul li {
        display: flex;
        align-items: center;
    }

    .ofertas-info-container .botao {
        margin: 0 auto;
        margin-top: 16px;
        font: 600 0.843rem/1.35 "IBM Plex Sans", monospace;
        padding: 12px 26px;
    }

    .ofertas-texto h2 {
        font: 400 2rem/1.25 "IBM Plex Sans", monospace;
    }

    .ofertas-texto p:not(:last-child) {
        font: 300 1rem/1.375 "IBM Plex Sans", monospace;
    }

    .ofertas-info h3 {
        font: 400 1.32rem/1.38 "IBM Plex Sans", monospace;
        margin-top: 18px;
    }

    .ofertas-span {
        font: 400 0.73rem/1.27 "IBM Plex Sans", monospace;
    }

    .ofertas-info p {
        font: 400 0.69rem/1.27 "IBM Plex Sans", monospace;
    }

    .slim-info p {
        margin: 0 auto;
        margin-top: 17px;
    }

    .mini-info p {
        max-width: 35ch;
    }

    .borda-pro {
        box-shadow: inset 0px 0 #FFFFFF;
    }

    .borda-smart {
        box-shadow: inset 0px 0 #FFFFFF, inset -83px 0 #FFFFFF;
    }

    .borda-slim {
        box-shadow: inset 0px 0 #FFFFFF, inset -167px 0 #FFFFFF;
    }

    .borda-mini {
        box-shadow: inset 0px 0 #FFFFFF, inset -251px 0 #FFFFFF;
    }
}

@media(max-width: 380px) {
    .ofertas-texto h2 {
        margin: 0 auto;
        margin-top: 32px;
        max-width: 15ch;
    }
}