#taxas {
    margin-top: 120px;
    padding-left: 16px;
    padding-right: 16px;
}

.taxas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 31px;
    max-width: 1200px;
    margin: 0 auto;
}

.taxas-containerinput::-webkit-outer-spin-button,
.taxas-container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.taxas-container input[type="number"] {
    -moz-appearance: textfield;
    border: 1px solid var(--cor-p2);
    padding: 9px 16px;
}

.taxas-container input[type=number]:focus {
    outline: 1.5px solid var(--cor-p1);
}

.taxas-container h2 {
    color: var(--cor-16);
    max-width: 23ch;
    grid-column: 1/-1;
}

.taxas-container h2 span {
    font-weight: 500;
}

.taxas-container>p {
    color: var(--cor-13);
    grid-column: 1/-1;
    max-width: 45ch;
    margin-top: 23px;
}

.taxas-simulador {
    padding-top: 50px;
    box-shadow: 0px 3px 22px var(--cor-p7);
    margin-top: 71px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.taxas-simulador h3 {
    color: var(--cor-16);
    text-align: center
}

.taxas-simulador.absolute {
    position: relative;
}

.taxas-simulador.absolute>span {
    position: absolute;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -18px;
    left: 0;
    right: 0;
}

.taxas-simulador>span {
    display: flex;
    align-items: center;
    color: var(--cor-0);
    background: var(--cor-p1);
    padding: 9px 38px;
    text-transform: uppercase;
    max-width: max-content;
    box-shadow: 0px 6px 15px var(--cor-p5);
}

.taxas-simulador>span::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    background: url("../icons/calculadora.svg");
    margin-right: 10px;
}

.taxas-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px 0;
    padding-bottom: 20px;
    margin-top: 25px;
}

.taxas-form input[type="radio"] {
    pointer-events: none;
    position: absolute;
    display: none;
}

.taxa-credito {
    display: grid;
}

.taxa-credito p:first-child {
    color: var(--cor-16);
}

.taxa-credito p {
    color: var(--cor-16);
}

.taxa-credito span {
    font-weight: 400;
    color: var(--cor-8);
}

.taxa-5parcela{
    display: none;
}

.taxa-debito {
    width: 202px;
}

.taxa-debito>p,
.taxas-text-footer {
    display: flex;
    align-items: center;
    color: var(--cor-13);
    margin-top: 23px;
    gap: 10px;
}

.taxa-debito>p::after,
.taxas-text-footer::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../icons/seta-baixo.svg") no-repeat center;
}

.taxa-debito p a,
.taxas-text-footer a {
    border-bottom: 1px solid var(--cor-13);
}

.taxas-radio {
    display: flex;
    gap: 30px;
    grid-column: 1/-1;
}

.taxas-radio label {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cor-16);
    cursor: pointer;
}

.taxas-radio label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: var(--cor-0);
    border: 1px solid var(--cor-p1);
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 8px;
}

 .taxas-radio label.ativo::before {
    background: var(--cor-7);
    box-shadow: inset 0 0 0 3px var(--cor-0);
}

.taxas-input.money input {
    padding-left: 42px;
}

.taxas-input {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    position: relative;
}

.taxas-input:not(:last-child) {
    margin-bottom: 30px;
}

.taxas-input span:first-child {
    display: block;
    margin-bottom: 7px;
    color: var(--cor-13);
}

.taxas-input p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-16);
    background: var(--cor-2);    
    border: 1px solid var(--cor-2);
    padding: 12px 0;
    cursor: pointer;
    transition: 0.2s;
}

 .taxas-input p.ativo {
    border-color: var(--cor-16);
}

.taxas-input p:hover {
    background: var(--cor-4);
}

.taxas-input p::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 6px;
    background: url("../icons/input-seta.svg") no-repeat center;
    margin-left: 7px;
    transition: 0.2s;
}

.taxas-input p.ativo::after {
    transform: rotate(180deg);
}

.taxas-input input,
.taxa-texto-fixo{
    color: var(--cor-16);
}

::placeholder{
    color: var(--cor-16);
    opacity: 0.5;
}

.taxa-texto-fixo {
    position: absolute;
    display: block;
    left: 17px;
    top: 35px;
    z-index: 9;
}

.taxas-input label {
    text-align: center;
    background: var(--cor-2);    
    border-top: none;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    display: none;
}

.taxas-input label.ativo {
    display: block;
}

.taxas-resultado-container {
    display: grid;
    gap: 40px;
}

.taxas-resultado-container p {
    color: var(--cor-16);
}

.taxas-resultado {
    border: 1px solid var(--cor-p3);
    border-left: 1px solid var(--cor-p1);
    padding: 18px 0;
    padding-left: 16px;
    padding-right: 10px;
    position: relative;
}

.taxas-resultado.cifrao::before,
.taxas-resultado.porcentagem::before,
.taxas-resultado.cartao::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 19px;
    background: url("../icons/cifrao.svg") no-repeat center;
    top: -9px;
}

.taxas-resultado.porcentagem::before {
    background: url("../icons/porcentagem.svg") no-repeat center;
}

.taxas-resultado.cartao::before {
    background: url("../icons/cartao.svg") no-repeat center;
}

.taxas-resultado>span {
    color: var(--cor-13);
    text-transform: uppercase;
}

.taxas-resultado p {
    max-height: min-content;
    display: flex;
    align-items: start;
    color: var(--cor-16);
}

.taxas-resultado p span {
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
}

.taxas-resultado-container {
    align-self: center;
}

.taxas-tempo {
    color: var(--cor-9);
    background: var(--cor-1);
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px 32px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.taxas-tempo li {
    padding: 6px 17px;
    cursor: pointer;
}

.taxas-tempo li.ativo {
    font-weight: 600;
    color: var(--cor-16);
    background: var(--cor-0);
    box-shadow: 0px 4px 12px var(--cor-p6);
}

.taxas-text-footer{
    display: none;
}

@media(max-width: 1200px) {
    .taxas-container {
        max-width: 700px;
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;
    }

    .taxas-container h2 {
        text-align: center;
        justify-self: center;
    }

    .taxas-container>p {
        max-width: 45ch;
        text-align: center;
        justify-self: center;
    }

    .taxas-simulador {
        width: 100%;
        margin-top: 46px;
    }

    .taxa-debito {
        width: 170px;
    }
}

@media(max-width: 700px) {
    #taxas {
        margin-top: 70px;
    }

    .taxas-container>p {
        max-width: 30ch;
        margin-top: 18px;
    }

    .taxa-debito,
    .taxas-resultado-container {
        width: 280px;
        gap: 28px;
    }

    .taxas-resultado-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
    }

    .taxas-resultado-container p {
        grid-column: 1/-1;
        text-align: center;
        margin-top: 4px;
    }

    .taxas-resultado-container p:nth-child(3){
        margin-top: 16px;
    }

    .taxas-simulador:not(.absolute) {
        padding-top: 30px;
    }

    .taxas-resultado {
        padding: 13px 0;
        padding-left: 10px;
        padding-right: 8px;
    }

    .taxas-resultado p span {
        margin-top: 7px;
        margin-left: 2px;
    }

    .taxas-form {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px 0;
        padding-bottom: 20px;
        margin-top: 25px;
    }

    .taxas-radio label:nth-child(2){
        margin-bottom: 10px;
    }

    .taxas-input.money input {
        padding-left: 110px;
        background: var(--cor-2);        
        border: 1px solid var(--cor-2);
        border: none;
    }

    .taxa-texto-fixo {
        left: 85px;
        top: 33px;
        z-index: 9;
    }

    .taxas-input{
        max-width: 280px;
    }

    .taxa-credito {
        grid-area: 2/1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 40px;
    }

    .taxa-credito div:first-child{
        text-align: center;
        grid-column: 1/-1;
    }

    .taxa-5parcela{
        display: block;
    }

    .taxa-debito {
        grid-area: 1/1;
    }

    .taxa-debito>p{
        display: none;
    }

    .taxas-tempo{
        padding: 8px 12px;
    }

    .taxas-tempo li {
        padding: 6px 10px;
        cursor: pointer;
    }

    .taxas-text-footer{
        display: flex;
        gap: 5px;
        grid-area: 3/1;
        margin-top: 10px;
    }
}

@media(max-width: 500px){
    .taxas-radio {
        display: block;
    }
}

@media(max-width: 315px){
    .taxas-simulador{
        padding-left: 0;
        padding-right: 0;
    }
}